# dependencies
node_modules/
.pnpm-store/

# logs
npm-debug.log*
*.log

# environment variables
.env
.env.*
!.env.example

# macOS-specific files
.DS_Store

# editor settings
.idea/

# git worktrees
.worktrees/
